<div id="sb-site">
  <div class="sub-navbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="sub-navbar-inner"><i class="sub-navbar-icon glyphicon glyphicon-home" style="font-size: 40px;"></i>
            <h2 class="sub-navbar-title">DASHBOARD</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="content content-gray">
    <div class="container">
      <div class="box-body box-body-transparent">
        <div class="row">
          <div class="col-sm-12">
              <ul class="list-group">
                  <li class="list-group-item">Clientes Cadastrados<span class="badge">23</span></li>
                  <li class="list-group-item">Orçamentos Feitos<span class="badge">23</span></li>
                  <li class="list-group-item">Serviços Cadastrados<span class="badge">23</span></li>
<!--                   <li class="list-group-item">Primera Semana<span class="badge">23</span></li>
                  <li class="list-group-item">Primera Semana<span class="badge">23</span></li>
                  <li class="list-group-item">Primera Semana<span class="badge">23</span></li> -->
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



<!--   <div class="sb-slidebar sb-right sb-style-push">
    
  </div> -->
</div>
