<div id="sb-site">
  <div class="sub-navbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="sub-navbar-inner">
            <h2 class="sub-navbar-title">DASHBOARD</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content content-gray">
    <div class="container">
      
    </div>
  </div>
</div>
