<%= form_tag create_estimate_path(@client.id) do %>
  <div class="container-fluid">
    <div class="row align-self-center" style="padding-top:50px;">
      <div class="col-md-12">
        <div class="table-responsive">          
          <table class="table" id="tableServices">
            <thead>
              <tr>
                <th class="text-center">REFERÊNCIA</th>
                <th class="text-center">DESCRIÇÃO</th>
                <th class="text-center">VALOR UNIT.</th>
                <th class="text-center">QNTD.</th>
                <th class="text-center">TOTAL</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><b>TOTAL A PAGAR:</b></td>
                <td><input type="text" class="form-control" id="total_estimate" name="estimate[price_total]" value="00.00" size="20" readonly></td>
              </tr>
            </tfoot>
          </table>
        </div>  
      </div>
      <div class="col-md-12">
        <label for="observation">Observações do veículo:</label>
        <%= text_area_tag 'estimate[observation]', nil, class: 'form-control' %>
        <%= hidden_field_tag 'estimate[client_id]', @client.id %>
      </div>        
      <div class="col-md-2 col-md-offset-5 button_position">
        <%= submit_tag "Salvar", class: "btn btn-primary btn-lg", id: "button_create_client" %>
      </div>       

  </div>
    </div
</div>



<% end %>