<%= form_tag create_estimate_path(@client.id) do %>
  <div class="container-fluid">
    <div class="row align-self-center" style="padding-top:50px;">
      <div class="col-md-12">
        <div class="table-responsive">          
          <table class="table">
            <thead>
              <tr>
                <th>REFERÊNCIA</th>
                <th>DESCRIÇÃO</th>
                <th>VALOR UNIT.</th>
                <th>QNTD.</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>NOME DO SERVIÇO</td>
                <td>150.00</td>
                <td>2</td>
                <td>300.00</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><b>TOTAL A PAGAR:</b></td>
                <td>300.00</td>
              </tr>
            </tfoot>
          </table>
        </div>        
        <div class="col-md-2 col-md-offset-6">
          <%= submit_tag "Salvar", class: "btn btn-primary btn-lg", id: "button_create_client" %>
        </div>   
      </div>                   
  </div>
    </div
</div>



<% end %>