<div id="sb-site">
  <div class="sub-navbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="sub-navbar-inner"><i class="sub-navbar-icon glyphicon glyphicon-user" style="font-size: 40px;"></i>
            <h2 class="sub-navbar-title"></h2>
          </div>
        </div>      
      </div>
    </div>
  </div>

  
  <div class="content content-gray">
    <div class="container">
      <div class="row">
        <div class="box-body box-body-transparent">
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-default">
                <div class="box-head box-head-default">
                  <h3 class="box-title">NOVO ORÇAMENTO</h3>
                    <ul class="box-tools">
                      <li role="presentation">
                        <a href="<%= clients_path %>">
                          <button class="download">
                            <i class="icon-arrow-left"></i><span class="sr-only">Voltar</span>
                          </button>
                         </a>
                      </li>
                    </ul>           
                </div>
                <div class="box-body box-body-default">
                <div class="row">
                  <% if notice.present? %>
                    <div class="alert alert-success">                
                      <p id="notice"><%= notice %></p>
                    </div>
                  <% end %>
                </div>                   
                  <%= render 'form' %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>                
