// ========================================================================= //
//
//   Variables
//
// ========================================================================= //

// ------------------------------------------------------------------------- //
//   Colors
// ------------------------------------------------------------------------- //

// ----- Brand ----- //

$brand-01:  #66498C;
$brand-02:  #EA3592;
$brand-03:  #AEAFB0;

// ----- Monochromatic ----- //

$mono-01:  #f1f1f1;
$mono-02:  #232323;
$mono-03:  #616161;
$mono-04:  #6e7176;

// ----- Polychromatic ----- //

$blue-01:  #00A9e0;
$blue-02:  #0090d4;

$graphite-01:  #e4e6e7;
$graphite-02:  #9fa1a3;
$graphite-03:  #797c81;

$green-01:  #8ed81a;

$orange-01:  #fa9683;
$orange-02:  #AEAFB0;
$orange-03:  #EA3592;

// ----- Forms ----- //

$placeholder:  lighten($text-color, 45%);

// ----- Others ----- //

$body-bg:     $mono-01;
$link:        $brand-03;
$text-color:  $graphite-03;

// ------------------------------------------------------------------------- //
//   Paths
// ------------------------------------------------------------------------- //

$fonts:   '../fonts';
$images:  '../images';
$movies:  '../movies';
