// ========================================================================= //
//
//   Box
//
// ========================================================================= //

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

// ------------------------------------------------------------------------- //
//   Modifiers
// ------------------------------------------------------------------------- //

// ----- Themes ----- //

.bullet-danger {
  background-color: $brand-01;
}

.bullet-success {
  background-color: $blue-01;
}
