// ========================================================================= //
//
//   Content
//
// ========================================================================= //

.content {
  padding-top: 20px;
  padding-bottom: 20px;
}

// ------------------------------------------------------------------------- //
//   Modifiers
// ------------------------------------------------------------------------- //

// ----- Themes ----- //

.content-default {
  background-color: white;
}

.content-gray {
  background-color: $mono-01;
}
